body,html {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
	--correct-guess-color: #59d155;
	--is-in-letter-color: #d1d141;
	--not-found-color: #9c9c9c;
}
* {
	box-sizing: border-box;
}
h1 {
	margin: 0;
}
.wrapper {
	height: 100vh;
	background-color: #000000da;
	position: relative;
}
.Game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.game-wrapper {
	box-sizing: border-box;
	padding: 15px;
	row-gap: 10px;
	height: 490px;
	width: 385px;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
}
.row {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 100%;
	column-gap: 10px;
}
.cell {
	cursor: pointer;
	border: 3px solid rgb(128, 128, 128);
	font-size: 2rem;
	display: flex;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	color: white;
}
.keyboard-wrapper {
	width: 500px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
}
.key-row {
	display: inherit;
}
.keyboard-button {
	height: 55px;
	min-width: 45px;
	border: none;
	margin: 0px 5px 5px 0px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
}
.wide-keyboard-button {
	height: 55px;
	min-width: 65px;
	border: none;
	margin: 0px 5px 5px 0px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
}
.keyboard-button:hover {
	background-color: rgb(189, 189, 189);
}
.error-card {
	width: fit-content;
	height: fit-content;
	background-color: rgb(19, 19, 19);
	padding: 15px;
	border-radius: 5px;
	font-weight: bold;
	position: absolute;
	top: 5%;
}
.error-card p {
	margin: 0;
	color: white;
}
.bounce-oninput {
	animation: bounce 0.1s linear;
}
@keyframes bounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale((1));
	}
}
.toggle-foundletter-color-green {
	background-color: var(--correct-guess-color);
	border-color: var(--correct-guess-color);
}
.toggle-containsletter-color-yellow {
	background-color: var(--is-in-letter-color);
	border-color: var(--is-in-letter-color);
}
.darkgray {
	background-color: var(--not-found-color);
	border-color: var(--not-found-color);
}
.shake-on-error {
	animation: shake 0.3s linear;
}
@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(0);
	}
	75% {
		transform: translateX(-5px)
}
	100% {
		transform: translateX(0);
	}
}
header {
	height: 100px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}
.normal-content {
	height: inherit;
	width: inherit;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
}
header h1 {
	color: white;
	;
	margin-left: 25px;
}
header h2 {
	justify-content: flex-end;
	margin-right: 15px;
	cursor: pointer;
	transition: all 0.15s linear;
}
article h2 {
	margin: 0;
}
header h2:hover {
	color: white;
}
.toggle-not-found-color {
	background: var(--not-found-color);
	border-color: var(--not-found-color);
}
.flip-cell {
	animation: flip linear 0.4s;
}
@keyframes flip {
	0% {
		transform: rotateX(0);
	}
	50% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
.modal {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background-color: rgba(104, 104, 104, 0.548);
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-content {
	text-align: left;
	min-width: 500px;
	min-height: 550px;
	background-color: rgb(19, 19, 19);
	color: white;
	padding: 25px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	transition: 1s all linear;
	animation: slideUp 0.5s forwards;
}
.modal-content-victory {
	text-align: center;
	width: 500px;
	height: 550px;
	background-color: rgb(19, 19, 19);
	color: white;
	padding: 25px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 1s all linear;
	animation: slideUp 0.5s forwards;
}
.modal-content h1 {
	font-size: 2.1rem;
}
.modal-content h3 {
	margin: 0px 0px 10px 0px
}
.modal-body {
	width: 100%;
}
.info-modal-ul {
	margin: 0;
	padding-left: 0;
	list-style-position: inside;
	margin: 10px 0px 10px 0px;
}
.info-modal-ul li {
	font-size: 15px;
	line-height: 140%;
}
.example-cell {
	width: 35px;
	height: 35px;
	border: 2px solid rgb(128, 128, 128);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
	font-size: 1.4rem;
	font-weight: 700;
}
.example-container {
	display: flex;
}
.modal-example p {
	margin: 10px 0 10px 0px;
}
.modal-content h4 {
	margin: 10px 0px 10px 0px;
}
@keyframes slideUp {
	0% {
		transform: translateY(25px);
	}
	100% {
		transform: translateY(0);
	}
}
.replay-button {
	padding: 13px;
	background-color: white;
	width: 55%;
	border-radius: 35px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modal-footer {
	text-align: center;
	border-top: 2px solid white;
	margin-top: 10px;
}
.modal-footer-victory {
	text-align: center;
	margin-top: 10px;
	justify-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.green-button {
	background-color: #008000;
	color: white;
}
.green-button:hover {
	color: black;
}
.page-link {
	text-decoration: none;
	color: inherit;
}
.divider-span {
	margin: 10px 0px 10px 0px;
	font-weight: bolder;
}
.replay-button:hover {
	background-color: rgb(189, 189, 189);
}
.modal-close-button {
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.modal-close-button:hover {
	background-color: rgb(189, 189, 189);
}
.modal-header {
	display: flex;
	justify-content: flex-end;
}
@media only screen and (max-width:550px) {
	.game-wrapper {
		width: 350px;
		height: 410px;
	}
	.modal-content {
		width: 100%;
		min-width: 0;
		padding: 20px;
		border-radius: none;
	}
	.modal-content-victory {
		width: 100%;
		min-width: 0;
		padding: 20px;
		border-radius: none;
	}
	header {
		height: 50px;
	}
	header h1 {
		font-size: 1.5rem;
	}
	.wide-keyboard-button {
		min-width: 45px;
	}
	.keyboard-button {
		min-width: 35px;
	}
	.keyboard-wrapper {
		width: 390px;
	}
	.cell {
		font-size: 1.5rem;
	}
}
@media only screen and (max-width:450px) {
	.game-wrapper {
		width: 320px;
		height: 380px;
	}
	header h1 {
		font-size: 1.5rem;
	}
	.keyboard-wrapper {
		width: 360px;
	}
	.wide-keyboard-button {
		min-width: 30px;
	}
	.cell {
		font-size: 1.5rem;
	}
	.keyboard-button {
		min-width: 30px;
	}
}
