body,
html {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  background-color: #000000da;
  position: relative;
}

.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.game-wrapper {
  box-sizing: border-box;
  padding: 15px;
  row-gap: 10px;
  height: 490px;
  width: 385px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  column-gap: 10px;
}

.cell {
  cursor: pointer;
  border: 2px solid rgb(128, 128, 128);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.keyboard-wrapper {
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;

}

.keyboard-button {
  height: 55px;
  min-width: 45px;
  border: none;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.keyboard-button:hover {
  background-color: rgb(189, 189, 189);
}

.error-card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(19, 19, 19);
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  top: 5%;
}

.error-card p {
  margin: 0;
  color: white;
}

.bounce-oninput {
  animation: bounce 0.1s linear;
  border: 2px solid rgb(156, 156, 156);
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale((1));
  }
}

.toggle-foundletter-color-green {
  background-color: rgb(89, 209, 85);
 

}

.toggle-containsletter-color-yellow {
  background-color: #d1d141;

}

.darkgray {
  background-color: rgb(83, 83, 83);
}

.shake-on-error {
  animation: shake 0.3s linear;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-5px)
  }

  100% {
    transform: translateX(0);
  }
}

header {
  height: 100px;
display: flex;

  text-align: center;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;

}

header h1 {
  color: white;
  margin: 0;


}
header h2 {
justify-content: flex-end;
margin-right: 15px;
cursor: pointer;
transition: all 0.15s linear;

}
header h2:hover {
  color: white;
}
.toggle-not-found-color {
  background: rgb(156, 156, 156);
}

.flip-cell {

  animation: flip linear 0.4s;

}

@keyframes flip {
  0% {
    transform: rotateX(0);


  }

  50% {
    transform: rotateX(90deg);

  }

  100% {
    transform: rotateX(0deg);
  }
}

.modal {
  position:fixed;
  left:0;
  bottom:0;
  right:0;
  top:0;
  background-color: rgba(211, 211, 211, 0.548);
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-content {
  width: 425px;
  height: 500px;
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 20px 15px 15px 15px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  

}

.replay-button {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
}

.replay-button:hover {
  background-color: rgb(189, 189, 189);
}

.modal-close-button {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
 
}
.modal-close-button:hover {
  background-color: rgb(189, 189, 189);
}

.modal-header {

width: 100%;
padding: 10px;
display: flex;
justify-content: flex-end;
}